In [383]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [384]:
PATH = './MNT.xlsx'
df = pd.read_excel(PATH)
df.head()

,Horodateur,Score total,1.sexe,1.sexe [Score],1.sexe [Commentaires],2.wilaya,2.wilaya [Score],2.wilaya [Commentaires],2.Quel âge avez-vous ?,2.Quel âge avez-vous ?\t\t [Score],...,23.Combien de temps avez-vous passé en position assise ou couchée lors d'une journée habituelle ?,23.Combien de temps avez-vous passé en position assise ou couchée lors d'une journée habituelle ? [Score],23.Combien de temps avez-vous passé en position assise ou couchée lors d'une journée habituelle ? [Commentaires],"24.avez vous d'autres maladies chroniques dans la famille? diabète, la tension,","24.avez vous d'autres maladies chroniques dans la famille? diabète, la tension, [Score]","24.avez vous d'autres maladies chroniques dans la famille? diabète, la tension, [Commentaires]",25.si oui c'est quoi la maladies?,25.si oui c'est quoi la maladies? [Score],25.si oui c'est quoi la maladies? [Commentaires],Unnamed: 74
0,2020/10/12 10:19:31 PM UTC+1,0.00 / 0,homme,-- / 0,NaN,NaN,NaN,NaN,37,-- / 0,...,8h,-- / 0,NaN,Assma tique,-- / 0,NaN,Asm,-- / 0,NaN,NaN
1,2020/10/12 10:25:06 PM UTC+1,0.00 / 0,homme,-- / 0,NaN,NaN,NaN,NaN,37,-- / 0,...,9h,-- / 0,NaN,Non,-- / 0,NaN,NaN,-- / 0,NaN,Option 1
2,2020/10/12 10:28:55 PM UTC+1,0.00 / 0,femme,-- / 0,NaN,NaN,NaN,NaN,64,-- / 0,...,9,-- / 0,NaN,oui,-- / 0,NaN,Diabète,-- / 0,NaN,Option 1
3,2020/10/12 10:29:54 PM UTC+1,0.00 / 0,homme,-- / 0,NaN,NaN,NaN,NaN,44,-- / 0,...,8h,-- / 0,NaN,Non,-- / 0,NaN,NaN,-- / 0,NaN,NaN
4,2020/10/12 10:36:22 PM UTC+1,0.00 / 0,homme,-- / 0,NaN,NaN,NaN,NaN,25,-- / 0,...,2h,-- / 0,NaN,Non,-- / 0,NaN,NaN,-- / 0,NaN,Option 1

In [385]:
# remove useless columns
df.drop(columns=[col for col in df.columns if any([word in col for word in [
        "Score", "Commentaires", "Horodateur", "Unnamed"]])], inplace=True)
df.columns

Index(['1.sexe', '2.wilaya', '2.Quel âge avez-vous ?                ',
       '3.Quel est votre niveau d'étude \t\t\t\t',
       '4.Quelles est votre activité  professionnelle                                 ',
       '5.Fumez-vous actuellement des produits à base de tabac tels que cigarettes, cigares ?',
       '6.si oui Fumez-vous quotidiennement ?',
       '7.A quel âge avez-vous commencé à fumer?',
       '8. Pourquoi avez-vous débuté à fumer?                                        ',
       '9. souhaitez-vous arrêter de fumer?',
       '9.avez-vous consommé une boisson alcoolisée?                                                                ',
       '10.à quelle fréquence avez-vous bu au moins une boisson alcoolisée ?"                                                                ',
       '14.Habituellement, combien de jours par semaine consommez-vous des fruits ?',
       '15.Habituellement, combien de jours par semaine consommez-vous des légumes ?',
       ' 16.Quelle sorte de matière grasse (huile, beurre…)utilisez-vous le plus souvent pour la préparation des repas à la maison ?',
       '17.Habituellement, combien de jours par semaine effectuez-vous des activités physiques?',
       '18.vous inscrivez dans une salle de sport?',
       '19.Est-ce que votre travail implique des activités physiques d'intensité modérée, comme une marche rapide ?',
       '20.Est-ce que vous effectuez des trajets d’au moins 10 minutes à pied ou à vélo ?',
       '21.Habituellement, combien de jours par semaine effectuez-vous des trajets d’au moins 30 minutes à pied ou à vélo ?',
       '22.Est-ce que vous pratiquez des sports, du fitness ou des activités de loisirs pendant au moins dix minutes d'affilée ?',
       '23.Combien de temps avez-vous passé en position assise ou couchée lors d'une journée habituelle ?',
       '24.avez vous d'autres maladies chroniques dans la famille? diabète, la tension, ',
       '25.si oui c'est quoi la maladies?'],
      dtype='object')

In [386]:
# updating column names

new_columns = {
    "1.sexe" : "sexe",
    "2.wilaya" : "wilaya",
    "2.Quel âge avez-vous ?                ": "age",
    "3.Quel est votre niveau d'étude \t\t\t\t":"niveau_etude",
    "4.Quelles est votre activité  professionnelle                                 ": "activite",
    "5.Fumez-vous actuellement des produits à base de tabac tels que cigarettes, cigares ?" : "fumeur",
    "6.si oui Fumez-vous quotidiennement ?":"fumeur_quotidien",
    "7.A quel âge avez-vous commencé à fumer?":"age_debut_fumeur",
    "8. Pourquoi avez-vous débuté à fumer?                                        ":"raison_debut_fumeur",
    "9. souhaitez-vous arrêter de fumer?": "souhaite_arreter_fumer",
    "9.avez-vous consommé une boisson alcoolisée?                                                                ":"consommation_alcol",
    '10.à quelle fréquence avez-vous bu au moins une boisson alcoolisée ?"                                                                ': "frequence_consommation_alcol",
    "14.Habituellement, combien de jours par semaine consommez-vous des fruits ?":"frequence_consommation_fruit",
    "15.Habituellement, combien de jours par semaine consommez-vous des légumes ?":"frequence_consommation_legume",
    "15.Habituellement, combien de jours par semaine consommez-vous des légumes ?":"frequence_consommation_legume",
    " 16.Quelle sorte de matière grasse (huile, beurre…)utilisez-vous le plus souvent pour la préparation des repas à la maison ?":"matiere_grasse",
    "17.Habituellement, combien de jours par semaine effectuez-vous des activités physiques?":"activite_physique",
    "18.vous inscrivez dans une salle de sport?":"inscription_sport",
    "19.Est-ce que votre travail implique des activités physiques d'intensité modérée, comme une marche rapide ?":"activite_physique_travail",
    "20.Est-ce que vous effectuez des trajets d’au moins 10 minutes à pied ou à vélo ?":"activite_physique_trajet1",
    "21.Habituellement, combien de jours par semaine effectuez-vous des trajets d’au moins 30 minutes à pied ou à vélo ?":"activite_physique_trajet2",
    "22.Est-ce que vous pratiquez des sports, du fitness ou des activités de loisirs pendant au moins dix minutes d'affilée ?":"sport",
    "23.Combien de temps avez-vous passé en position assise ou couchée lors d'une journée habituelle ?":"temps_position_assise",
    "24.avez vous d'autres maladies chroniques dans la famille? diabète, la tension, ":"maladie_chronique_famille_bool",
    "25.si oui c'est quoi la maladies?":"maladie_chronique_famille",
}

df.rename(columns=new_columns, inplace=True)
df.columns

Index(['sexe', 'wilaya', 'age', 'niveau_etude', 'activite', 'fumeur',
       'fumeur_quotidien', 'age_debut_fumeur', 'raison_debut_fumeur',
       'souhaite_arreter_fumer', 'consommation_alcol',
       'frequence_consommation_alcol', 'frequence_consommation_fruit',
       'frequence_consommation_legume', 'matiere_grasse', 'activite_physique',
       'inscription_sport', 'activite_physique_travail',
       'activite_physique_trajet1', 'activite_physique_trajet2', 'sport',
       'temps_position_assise', 'maladie_chronique_famille_bool',
       'maladie_chronique_famille'],
      dtype='object')

In [387]:
# transformin wilaya names to french

arabic_to_french = {
    'ولاية الجزائر': 'Alger',
    'ولاية قسنطينة': 'Constantine',
    'ولاية تيزي وزو': 'Tizi Ouzou',
    'ولاية البليدة': 'Blida',
    'ولاية جيجل': 'Jijel',
    'ولاية معسكر': 'Mascara',
    'ولاية سكيكدة': 'Skikda',
    'ولاية أم البواقي': 'Oum El Bouaghi',
    'ولاية باتنة': 'Batna',
    'ولاية الشلف': 'Chlef',
    'ولاية تيارت': 'Tiaret',
    'ولاية تلمسان': 'Tlemcen',
    'ولاية بجاية': 'Bejaia',
    'ولاية سطيف': 'Setif',
    'ولاية سيدي بلعباس': 'Sidi Bel Abbes',
    'ولاية البويرة': 'Bouira',
    'ولاية ورقلة': 'Ouargla',
    'ولاية وهران': 'Oran'
}

df['wilaya'] = df['wilaya'].map(arabic_to_french)
df.value_counts("wilaya")

wilaya
Alger             36
Constantine        8
Tizi Ouzou         6
Blida              6
Jijel              4
Chlef              2
Mascara            2
Batna              2
Skikda             2
Oum El Bouaghi     2
Sidi Bel Abbes     1
Tiaret             1
Oran               1
Setif              1
Ouargla            1
Bouira             1
Bejaia             1
Tlemcen            1
Name: count, dtype: int64

In [388]:
# transforming age values to numeric

df['age'] = df['age'].astype('str').str.replace('ans', '')
df['age'] = pd.to_numeric(df['age'], errors='coerce')
df['age'].value_counts()

age
19.0    20
21.0    14
18.0    10
20.0    10
26.0     5
23.0     5
37.0     4
27.0     4
33.0     3
35.0     3
22.0     3
25.0     3
30.0     3
32.0     3
38.0     2
28.0     2
29.0     2
24.0     2
31.0     1
48.0     1
34.0     1
64.0     1
56.0     1
44.0     1
45.0     1
Name: count, dtype: int64

In [389]:
df["niveau_etude"].value_counts()

niveau_etude
universitaire       101
école secondaire      3
lycée                 2
Name: count, dtype: int64

In [390]:
df['age_debut_fumeur'] = df['age_debut_fumeur'].astype('str').str.replace('ans', '')
df['age_debut_fumeur'] = pd.to_numeric(df['age_debut_fumeur'], errors='coerce')
df['age_debut_fumeur'].value_counts()

age_debut_fumeur
20.0    1
25.0    1
23.0    1
15.0    1
24.0    1
12.0    1
16.0    1
19.0    1
Name: count, dtype: int64

In [391]:
df['souhaite_arreter_fumer']=df['souhaite_arreter_fumer'].astype('str').str.lower()
df.loc[~df['souhaite_arreter_fumer'].isin(
    ["oui", "non"]), 'souhaite_arreter_fumer'] = np.nan

df['souhaite_arreter_fumer'].value_counts()

souhaite_arreter_fumer
oui    8
non    4
Name: count, dtype: int64

In [392]:
df.columns

Index(['sexe', 'wilaya', 'age', 'niveau_etude', 'activite', 'fumeur',
       'fumeur_quotidien', 'age_debut_fumeur', 'raison_debut_fumeur',
       'souhaite_arreter_fumer', 'consommation_alcol',
       'frequence_consommation_alcol', 'frequence_consommation_fruit',
       'frequence_consommation_legume', 'matiere_grasse', 'activite_physique',
       'inscription_sport', 'activite_physique_travail',
       'activite_physique_trajet1', 'activite_physique_trajet2', 'sport',
       'temps_position_assise', 'maladie_chronique_famille_bool',
       'maladie_chronique_famille'],
      dtype='object')

In [393]:
df["inscription_sport"] =df["inscription_sport"].apply(lambda x: "non" if x.lower() == "non" else   "oui" if x.strip() else np.nan)
df["inscription_sport"].value_counts()

inscription_sport
non    88
oui    18
Name: count, dtype: int64

In [394]:
df["sport"]=df["sport"].str.lower()
df["sport"].value_counts()

sport
non    62
oui    44
Name: count, dtype: int64

In [395]:
df["maladie_chronique_famille_bool"] = df["maladie_chronique_famille_bool"].apply(lambda x: "non" if x.lower() == "non" else  "oui" if x.strip() else np.nan)
df["maladie_chronique_famille_bool"].value_counts()

maladie_chronique_famille_bool
oui    74
non    32
Name: count, dtype: int64

In [396]:
import re

def clean_temps_position_assise(value):
    if value is np.nan :
        return np.nan
    value = str(value).lower().replace(
        "heures", "").replace("heure", "").replace("h", "").replace("ساعات", "").replace("plus de", "").replace("par jour","").replace("assise","").replace("et plus","")
    
    sep =  ["+", "à","-","min","ou"]
    for i,s in enumerate(sep):
        if s in value:
            values = [ ''.join(re.findall(r'\d', x)) for x in value.split(sep[i]) if x.strip() ]
            return  sum([ int(x) for x in values if x.isnumeric() ])/2

    if "la plupart du temps" in value or "toute la journée" in value or "la plupart de mon temps" in value:
        return 15

    if "%" in value : 
        return round(float(value.split("%")[0])/100*24)
    
    return value
    


df["temps_position_assise"] = df["temps_position_assise"].apply(clean_temps_position_assise)
df["temps_position_assise"].value_counts()

temps_position_assise
8         14
10         5
2          3
8          3
0.0        3
6          3
10.0       3
6          3
15.0       3
2          3
9          2
16         2
20         2
7          2
14         2
10         2
5.0        2
5          1
15         1
 2         1
17         1
8.5        1
4.5        1
15         1
10.5       1
 12        1
24         1
28.0       1
12         1
7          1
16.5       1
24         1
9.0        1
22         1
6.5        1
  2        1
3          1
5          1
8          1
4          1
4          1
5 _ 6      1
2          1
7.5        1
1          1
Name: count, dtype: int64

In [397]:
df["maladie_chronique_famille"].value_counts() , df

(maladie_chronique_famille
 diabete                           29
 la tension(HTA)                   19
 asthmatique                        4
 La tension                         2
 Diabète                            2
 Hta                                1
 les trois                          1
 Diabète, tension, ...              1
 les 3                              1
 Diabete et hta                     1
 Diabete rension...                 1
 Asm                                1
 mon père                           1
 diabétique et asmatique            1
 la tension,Insuffisance rénale     1
 Diabète.. la tention               1
 HTA                                1
 Diabète                            1
 القلب                              1
 Maladies cardiaques                1
 Name: count, dtype: int64,
       sexe   wilaya   age      niveau_etude                  activite fumeur  \
 0    homme      NaN  37.0     universitaire      Employé(e) de l’Etat    Non
 1    homme      NaN  37.0     universitaire      Employé(e) de l’Etat    oui
 2    femme      NaN  64.0  école secondaire               chomeur(se)    Non
 3    homme      NaN  44.0  école secondaire  Employé(e) dans le privé    oui
 4    homme      NaN  25.0     universitaire                  étudiant    Non
 ..     ...      ...   ...               ...                       ...    ...
 101  homme    Chlef  20.0     universitaire                  étudiant    oui
 102  homme  Mascara  24.0     universitaire                  étudiant    Non
 103  femme    Alger  20.0     universitaire                  étudiant    Non
 104  homme   Skikda  23.0     universitaire                  étudiant    Non
 105  homme    Alger  19.0     universitaire                  étudiant    Non

     fumeur_quotidien  age_debut_fumeur raison_debut_fumeur  \
 0                NaN               NaN                 NaN
 1                oui              20.0           curiosité
 2                Non               NaN               autre
 3                oui              25.0           curiosité
 4                Non               NaN                 NaN
 ..               ...               ...                 ...
 101              oui              19.0               autre
 102              Non               NaN                 NaN
 103              Non               NaN                 NaN
 104              NaN               NaN                 NaN
 105              NaN               NaN                 NaN

     souhaite_arreter_fumer  ...  matiere_grasse activite_physique  \
 0                      NaN  ...  Huile végétale                 5
 1                      oui  ...  Huile végétale                 3
 2                      oui  ...  Huile végétale                 5
 3                      oui  ...  Huile végétale                 1
 4                      NaN  ...       Zit ziton                 2
 ..                     ...  ...             ...               ...
 101                    non  ...  Huile végétale                 4
 102                    NaN  ...  Huile végétale                 3
 103                    NaN  ...       Margarine                 2
 104                    NaN  ...  Huile végétale                 4
 105                    NaN  ...  Huile végétale                 0

      inscription_sport  activite_physique_travail activite_physique_trajet1  \
 0                  non                        oui                       oui
 1                  oui                        oui                       oui
 2                  non                        oui                       oui
 3                  non                        Non                       oui
 4                  non                        Non                       Non
 ..                 ...                        ...                       ...
 101                oui                        Non                       oui
 102                non                        Non                       oui
 103                non                        Non                       oui
 104                oui                        oui                       Non
 105                non                        Non                       oui

      activite_physique_trajet2 sport temps_position_assise  \
 0                            5   non                     8
 1                            3   oui                     9
 2                            4   non                     9
 3                            3   non                     8
 4                            3   oui                     2
 ..                         ...   ...                   ...
 101                          4   oui                    15
 102                          1   oui                     8
 103                          0   oui                   NaN
 104                          4   oui                     1
 105                          2   non                  10.0

     maladie_chronique_famille_bool  maladie_chronique_famille
 0                              oui                        Asm
 1                              non                        NaN
 2                              oui                    Diabète
 3                              non                        NaN
 4                              non                        NaN
 ..                             ...                        ...
 101                            non                        NaN
 102                            non                        NaN
 103                            oui                    diabete
 104                            oui            la tension(HTA)
 105                            oui            la tension(HTA)

 [106 rows x 24 columns])

In [398]:
df.to_excel("cleaned.xlsx" ,index=False)